
    <%- include("./partials/head.ejs") %>

  <body id="page-top">
   
    <div id="wrapper">
 
      <%- include("./partials/sideBar.ejs") %>
      

      <div id="content-wrapper" class="d-flex flex-column">
        
        <div id="content">
      
              <%- include("./partials/topbar.ejs") %>
    <div class="col-lg-4 d-none d-lg-block"></div>
      <img class="bg-image" src="img1.png" style='height:200px;width:500px;'/>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h1 class="text-center mb-3">
            <i class="fas fa-user-plus"></i> Register
          </h1>

          <% include ./partials/messages %>
          <form action="/users/register" method="POST">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="name"
                id="name"
                name="name"
                class="form-control"
                placeholder="Enter Name"
                value="<%= typeof name != 'undefined' ? name : '' %>"
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter Email"
                value="<%= typeof email != 'undefined' ? email : '' %>"
              />
            </div>
            <div class="form-group">
              <label for="areaCode">Area Code</label>
              <input
                type="areaCode"
                id="areaCode"
                name="areaCode"
                class="form-control"
                placeholder="Enter area code"
                value="<%= typeof areaCode != 'undefined' ? areaCode : '' %>"
              />
            </div><div class="form-group">
              <label for="vechicleCode">Vechicle Code</label>
              <input
                type="vechicleCode"
                id="vechicleCode"
                name="vechicleCode"
                class="form-control"
                placeholder="vechicleCode"
                value="<%= typeof vechicleCode != 'undefined' ? vechicelCode : '' %>"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Create Password"
                value="<%= typeof password != 'undefined' ? password : '' %>"
              />
            </div>
            <div class="form-group">
              <label for="password2">Confirm Password</label>
              <input
                type="password"
                id="password2"
                name="password2"
                class="form-control"
                placeholder="Confirm Password"
                value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Register
            </button>
          </form>
          <!-- <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p> -->
        </div>
      </div>
    </div>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="js/sb-admin-2.min.js"></script>
    <!-- <%- include("./partials/footer.ejs") %> -->
  </body>
  <%- include("./partials/footer.ejs") %>
</html>
